<div class="wrapper">
  <header class="cheader">
    <div class="pc-main-menu" aria-hidden="true">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non fugit dicta ea suscipit iste ut amet aspernatur consequatur in earum recusandae assumenda quos dolores,
      perspiciatis molestiae dolorum fuga. Optio, commodi!
    </div>

    <nav id="desk-menu" class="desk-nav">
      <ul class="desk-nav__list">
        <li class="desk-nav__item">
          <a href="#" class="desk-nav__link">Home</a>
        </li>
        <li class="desk-nav__item">
          <a href="#" class="desk-nav__link next-sub-list">About Us</a>
          <ul class="desk-nav__sublist">
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about.svg" alt="About" class="desk-nav__icon" />
                <span>About Us</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
          </ul>
        </li>
        <li class="desk-nav__item">
          <a href="#" class="desk-nav__link next-sub-list">Services</a>
          <ul class="desk-nav__sublist">
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about.svg" alt="About" class="desk-nav__icon" />
                <span>About Us</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>About Our CEO</span></a
              >
            </li>
          </ul>
        </li>
        <li class="desk-nav__item">
          <a href="#" class="desk-nav__link">Our Work</a>
        </li>
        <li class="desk-nav__item">
          <a href="#" class="desk-nav__link next-sub-list">Contact US</a>
          <ul class="desk-nav__sublist">
            <li class="desk-nav__subitem">
              <a href="#" class="desk-nav__link desk-nav__link_sub">
                <img src="/images/red/about-ceo.svg" alt="About" class="desk-nav__icon" />
                <span>Contact US</span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="cheader__body">
      <button class="mobile-button-open" type="button" aria-label="Open menu">
        <img src="/images/burger.svg" alt="Open menu button" class="cheader__burger" />
      </button>
      <button class="mobile-button-close" type="button" aria-label="Close menu">
        <img src="/images/close.svg" alt="Close menu button" class="cheader__burger" />
      </button>
    </div>
    <div class="cheader__mobile mobile-body" aria-hidden="false">
      <div class="mobile-body__inner">
        <nav class="mobile-body__nav">
          <ul class="mobile-body__list">
            <li class="mobile-body__item item-mobile-menu">
              <a href="#" class="item-mobile-menu__link" title="Home">Home</a>
            </li>
            <li class="mobile-body__item item-mobile-menu item-mobile-menu_has-submenu">
              <a href="#" class="item-mobile-menu__link item-mobile-menu__link_next">About</a>
              <div class="item-mobile-menu__sublist-wrapper">
                <ul class="item-mobile-menu__sublist">
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about-ceo.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Our CEO</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile-body__item item-mobile-menu">
              <a href="#" class="item-mobile-menu__link" title="Home">Our Work</a>
            </li>
            <li class="mobile-body__item item-mobile-menu">
              <a href="#" class="item-mobile-menu__link" title="Home">Our Blog</a>
            </li>
            <li class="mobile-body__item item-mobile-menu item-mobile-menu_has-submenu">
              <a href="#" class="item-mobile-menu__link item-mobile-menu__link_next">About</a>
              <div class="item-mobile-menu__sublist-wrapper">
                <ul class="item-mobile-menu__sublist">
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about-ceo.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Our CEO</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile-body__item item-mobile-menu">
              <a href="#" class="item-mobile-menu__link" title="Home">Home</a>
            </li>
            <li class="mobile-body__item item-mobile-menu item-mobile-menu_has-submenu">
              <a href="#" class="item-mobile-menu__link item-mobile-menu__link_next">About</a>
              <div class="item-mobile-menu__sublist-wrapper">
                <ul class="item-mobile-menu__sublist">
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about-ceo.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Our CEO</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile-body__item item-mobile-menu">
              <a href="#" class="item-mobile-menu__link" title="Home">Our Work</a>
            </li>
            <li class="mobile-body__item item-mobile-menu">
              <a href="#" class="item-mobile-menu__link" title="Home">Our Blog</a>
            </li>
            <li class="mobile-body__item item-mobile-menu item-mobile-menu_has-submenu">
              <a href="#" class="item-mobile-menu__link item-mobile-menu__link_next">About</a>
              <div class="item-mobile-menu__sublist-wrapper">
                <ul class="item-mobile-menu__sublist">
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Us</a>
                  </li>
                  <li class="item-mobile-menu__subitem">
                    <img src="/images/about-ceo.svg" alt="About Us" class="item-mobile-menu__item-icon" />
                    <a href="#" class="item-mobile-menu__link item-mobile-menu__link_sub" title="About Us">About Our CEO</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <div class="mobile-body__footer">
          <a href="#" class="mobile-body__footer-button">GET STARTED</a>
          <div class="mobile-body__social">
            <a href="#" class="mobile-body__social-link">
              <img src="/images/social.svg" alt="Insta" class="mobile-body__social-icon" />
            </a>
            <a href="#" class="mobile-body__social-link">
              <img src="/images/social.svg" alt="Insta" class="mobile-body__social-icon" />
            </a>
            <a href="#" class="mobile-body__social-link">
              <img src="/images/social.svg" alt="Insta" class="mobile-body__social-icon" />
            </a>
            <a href="#" class="mobile-body__social-link">
              <img src="/images/social.svg" alt="Insta" class="mobile-body__social-icon" />
            </a>
            <a href="#" class="mobile-body__social-link">
              <img src="/images/social.svg" alt="Insta" class="mobile-body__social-icon" />
            </a>
            <a href="#" class="mobile-body__social-link">
              <img src="/images/social.svg" alt="Insta" class="mobile-body__social-icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
